Flask
Flask-Cors
Pillow
Werkzeug
affine
geojson
geopandas
gdal
gdown
gradio
gunicorn
huggingface_hub
ipywidgets
leafmap
localtileserver
matplotlib
numpy
opencv-python-headless
pandas
patool
pycocotools
pyproj
PyYAML>=5.3.1
rasterio<=1.4.1
requests
rioxarray
sam2
scikit-image
scikit-learn
scipy>=1.4.1
seaborn
segment-anything-hq
segment-anything-py
shapely
timm
torch>=1.7.0
torchvision>=0.8.1
tqdm
ultralytics==8.0.120
waitress
xarray
xyzservices
groundingdino-py


# Install directly from GitHub
git+https://github.com/openai/CLIP.git
# -e ".\FastSAM\"
# -e ".\segment_geospatial\"